* {
  padding: 0;
  margin: 0;
}

body {
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-color: #090909;
}

input[type="checkbox"] {
  display: none;
}

/* nav {
  background-color: rgba(16, 16, 16, 0.5);
  width: 350px;
  height: 100%;
  left: -350px;
  position: absolute;
  transition: all 0.5s;
} */

input[type="checkbox"]:checked~nav {
  transform: translateX(350px);
}

.menu {
  margin-top: 20%;
  height: 20px;
}

@media print {
  nav {
    display: none;
  }
}

@media (max-width: 600px) {
  nav {
    display: none;
  }
  
}


nav {
  background-color: #33333390;
  color: #090909;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: var(--cor2);
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

a{
  color: var(--cor2);
}

.logo {
  text-align: center;
  float: left;
  margin-top: 5%;
}

.logo img {
  max-width: 100%;
  height: 100px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#h1 {
  width: 100%;
  margin-top: 1em;
  font-size: 4em;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 0px 10px cyan;
  color: var(--cor2);
}

:root {
  --cor1: yellow;
  --cor2: white;
  --cor3: rgba(245, 8, 8, 0.823);
  --cor4: green;
  --cor5: black;
}

.section {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10em;
  padding: 1em;
}

#article1 {
  max-width: 600px;
  border: 1px solid;
  border-radius: 30px;
  padding: 1rem;
  color: var(--cor2);
  background-image: url("https://prd-us-brc-wapp-01.azurewebsites.net/content/images/2020/11/alinhamento-e-balanceamento-saiba-para-que-servem-e-quando-fazer.jpg");
}
#article2 {
  max-width: 600px;
  border: 1px solid;
  border-radius: 30px;
  padding: 1rem;
  color: var(--cor2);
  background-image: url("https://images.pexels.com/photos/4116193/pexels-photo-4116193.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.link{
  text-decoration: none;
}

h1,
#div {
  color: var(--cor1);
  text-shadow: 2px 0px 10px rgb(0, 12, 12);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

h2 {
  color: var(--cor2);
  text-shadow: 2px 0px 10px cyan;
  font-size: 50px;
}

h4 {
  color: var(--cor2);
  text-align: center;
}

#linha1 {
  color: var(--cor1);
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2%;
  text-shadow: 2px 0px 10px rgb(22, 22, 22);

}

#linha2 {
  color: blue;
  background-color: var(--cor1);
  text-shadow: 2px 0px 10px rgb(249, 245, 245);
  border: 2px solid;
  border-radius: 10px;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  width: 15em;
}

#linha3 {
  color: var(--cor1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  text-shadow: 2px 0px 10px rgb(22, 22, 22);
  padding-left: 1em;
}

#linha4 {
  color: var(--cor1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}

#linha5 {
  font-size: 1em;
  color: var(--cor2);
}


#div {
  color: var(--color2);
  width: 30em;
  height: 8em;
}

/*.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 100px;
  /*padding: 200px 150px 70px 5px;
  width: auto;
  line-height: 40px;
}

/*#targeta-preta {
  width: 25em;
  height: 45px;
  background-color: var(--color3);
  padding-top: 9em;
  position: absolute;
}*/



.footer-text {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--cor2);
}

