<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/_img//ngcar.ico" type="image/x-icon" >
    <title>NG CAR SERVICE</title>
    <link rel="stylesheet" href="/_css/sobre.css">

</head>

<body>
    <input type="checkbox" id="chec">
    <label for="chec">
        <img src="/_img/cardapio.png" class="menu">
    </label>
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <div>
        <img src="/_img/logongcar.png" alt="logongcar" class="logo">
    </div>
    <h1 class="h1">CONHEÇA NOSSA HISTÓRIA</h1>

    <h2 class="h2">Formação Acadêmica</h2>
    <p id="p">Garrido sempre foi apaixonado por carros. Desde sua adolescência,os carros rebaixados o atraíram e foi a partir
        deles que procurou saber e conhecer como funcionavam essas máquinas. É um profissional qualificado não somente
        por sua formação acadêmica, pois concluiu com dedicação os Cursos na área de mecânica automotiva.
        Atualmente, atua como instrutor de trânsito, ministrando aulas de categoria "D" e formando alunos da 10º região
        militar. Suas habilidades sobre o conhecimento de mecânica dos carros se amplia diariamente, pois se dedica a
        aprender, cada vez mais, sendo aprendiz e mestre, ao mesmo tempo associando seus conhecimentos técnicos a sua
        vasta experiência profissional. É extremamente adaptável aos ambientes de trabalho, pois sua capacidade de se
        comunicar é notória, falando sempre com todos, sobre variados assuntos, sendo um especialista em mecânica. A
        família é sua grande prioridade, foi por ela que começou a se dedicar mais aos seus estudos, sonhos e projetos,
        sendo a NG CAR SERVICE o seu grande projeto atual, inovador que concilia seus conhecimentos, trabalho e uma
        visão de futuro para o ramo de mecânica de automotiva. Aos seus 39 anos, Garrido é um exemplo de filho, irmão,
        pai, profissional e , acima de tudo, ser humano, que através de uma paixão por carros se destaca pelo serviço
        diferenciado em um mercado tão competitivo.</p>
    <h2 class="h2">Experiência Profissional</h2>
    <p id="p">Garrido começou cedo a dirigir, com seu pai, que era motorista de caminhão. Não sabia que ia se dedicar aos
        carros e desvendar o mistério do funcionamento de seus motores, pois se dedicou , primeiramente à música como
        saxofonista. Mas sempre foi o destino, começou com o curso básico de mecânica , que permitiu ampliar seus
        conhecimentos sobre motores. Trabalhou em uma Oficina Mecânica, auxiliando um amigo nos finais de semana,
        somente com o intuito de aprender sobre o vasto mundo da mecânica.Seguindo os passos de seu pai trabalhou como
        motorista carreteiro, em 2016 passou por uma seleção no Exército Brasileiro e conquistou com êxito primeiro
        lugar, no ano seguinte deu início a sua trajetória como Cabo técnico especialista, fazendo parte do grupo de
        transporte do Parque Regional de Manutenção da 10º região Militar. Desde então, vem se profissionalizando
        através de vários cursos na área: Mecânica básica álcool e gasolina, Mecânico de suspensão, direção, freios e
        alinhamento de veículos leves, dentre outros.</p>


    <footer class="footer-text">
        Desenvolvido por <a href="paginasobre.html">Garrido</a>
    </footer>

</body>

</html>