<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/_img/ngcar.ico" type="image/x-icon">
  <title>NG CAR SERVICE</title>
  <link rel="stylesheet" href="/_css/main.css">
</head>

<body>
  <header>
    <input type="checkbox" id="chec">
    <label for="chec">
      <img src="/_img/cardapio.png" class="menu">
    </label>
    
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <div class="logo">
      <img src="/_img/logongcar.png" alt="logongcar">
    </div>
    <div>
      <h1 id="h1">MECÂNICA ESPECIALIZADA 24H</h1>
    </div>
  </header>
  <main>
    <section>
      <article id="article">
        <h1 id="tamanhoDaLetra"><i>Promoção!</i></h1>
        <h2><i>1 ALINHAMENTO / 4 BALANCEAMENTO RODÍZIO DE PNEUS</i></h2>
        <div id="div">
          <h1>Apenas Veículos Leves</h1>
          <h4>Aros 13/14/15</h4>
          <h5>R$</h5>
          <span>79,90</span>
        </div>
        <div id="targeta-preta">
          <h4>Av. Eduardo Girão-1533</h4>
        </div>
      </article>
    </section>

    <section>
      <article>

      </article>
    </section>
  </main>
  <footer class="footer-text">
    Desenvolvido por <a href="paginasobre.html">Garrido</a>
  </footer>

</body>

</html>